.card {
  width: 13rem;
  height: 19rem;
  background-image: linear-gradient(163deg, #00ff75 0%, #00b0c8 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin-bottom: 20px;
  color: aliceblue;
  font-size: 1rem;
}

.card2 {
  width: 13rem;
  height: 19rem;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.contain {
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
  align-items: stretch;
}

.character {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-size: cover;
}

.list {
  padding-left: 0.4rem;
}

.list ul {
  list-style: none;
  color: darkgrey;
}
