.card {
  position: relative;
  height: 300px;
  width: 200px;
  margin: 20px;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 0.5s;
}

.front {
  background-color: hotpink;
  transform: perspective(500px) rotateY(0deg);
}

.front img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.back {
  color: aliceblue;
  background-color: darkslategrey;
  transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(500px) rotateY(360deg);
}
