.form {
  display: flex;
}

.input {
  font-size: 14px;
  margin-right: 2px;
  border: 1px solid yellowgreen;
  border-radius: 5px;
}

.button {
  border: 1px solid yellowgreen;
  border-radius: 5px;
  background-color: #00b1c87e;
}

.button :hover {
  /* border: 1px solid yellowgreen; */
  border-radius: 6px;
  background-color: #49d3e67e;
}

.button img {
  display: flex;
  width: auto;
  height: 25px;
}
