.character {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-image: linear-gradient(#00b1c87a, rgba(153, 205, 50, 0.466));
  padding: 1.3rem;
}

.card {
  width: 30rem;
  height: 25rem;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px #00b1c87a, -15px -15px 30px rgba(153, 205, 50, 0.466);
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1.3rem;
}

.info h3 {
  font-size: 3rem;
}

.detail {
  font-size: 1.3rem;
}

.detail p {
  margin-bottom: 0.5rem;
}
